@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background-color: #e0e0e0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
    background-color: #1f1f20;
}

.navLinks ul {
    display: flex;
    gap: 0.5rem;
}

.navLinks ul li {
    display: inline-block;
    color: #ffffff;
    list-style: none;
    font-size: 1.5rem;
    cursor: pointer;
    margin-right: 30px;
}

.navLinks ul li a {
    text-decoration: none;
    color: #ffffff;
}

.navLinks ul li a:hover {
    color: #567ebb;
    transition: 0.5s;
}

#btn-nav {
    display: none;
}

.logo {
    color: #ffffff;
    font-size: 2.2rem;
    font-weight: 700;
}

.logo span {
    color: #567ebb;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 5%;
    background-color: #1f1f20;
}

.social-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-footer figure {
    margin: 0 10px;
}

.copy-footer {
    color: #ffffff;
    margin: 0 10px;
    font-size: 1.4rem;
    margin-top: 15px;
    text-align: center;
}

.dev-footer {
    color: #ffffff;
    margin: 0 10px;
    font-size: 0.9rem;
    margin-top: 10px;
    text-align: center;
}

.dev-social-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.dev-social-footer figure {
    margin: 0 10px;
}

@media only screen and (min-width: 768px) and (max-width: 1023px)
{
    body {
        overflow-x: hidden;
    }

    .navLinks {
        margin-left: 45px;
    }

    .navLinks ul li {
        margin-right: 20px;
    }
}

@media only screen and (max-width: 767px)
{
    #btn-nav {
        display: block;
    }

    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 65px;
        right: 0;
        transition: 0.6s;
        background-color: #1f1f20;
        z-index: 1000;
        visibility: hidden;
        height: 0px;
        overflow-y: hidden;
    }

    #menu li {
        display: block;
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(255, 255, 255, 0.4);
    }

    #nav.active #menu {
        height: calc(100vh - 65px);
        visibility: visible;
        overflow-y: auto;
    }

    #btn-nav {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }

    #hamburguer {
        color: #ffffff;
        border-top: 2px solid;
        width: 20px;
    }

    #hamburguer::after, #hamburguer::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .5s;
        position: relative;
    }

    #nav.active #hamburguer {
        border-top-color: transparent;
    }

    #nav.active #hamburguer::before {
        transform: rotate(135deg);
    }

    #nav.active #hamburguer::after {
        transform: rotate(-135deg);
        top: -7px;
    }

}