main {
    min-height: 100vh;
}

.container-1 {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 20px;
    width: 90vw;
    margin: 40px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table {
    width: 100vw;
    overflow-x: auto;
}

.table-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #2b4c7e;
    border-radius: 8px 8px 0 0;
}

.table-header {
    color: #ffffff;
    font-size: 1.7rem;
    font-weight: 700;
}

.add-membro{
    padding: 5px 12px;
    margin-left: 15px;
    border-radius: 25px;
    color: #fefefe;
    background: #567ebb;
    cursor: pointer;
    transition: all 400ms ease;
    border: none;
    outline: none;
}

.add-membro:hover{
    background: transparent;
    color: #ffffff;
    box-shadow: inset 0 0 0 3px #ffffff;
}

button{
    outline: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    padding: 10px;
    color: #fefefe;
}

.table-body{
    height: 650px;
    overflow: auto; 
}

table {
    width: 100%;
    table-layout: fixed;
    min-width: 900px;
    border-collapse: collapse;
}

thead th {
    top: 0;
    background: #606d80;
    color: #ffffff;
    font-size: 15px;
}

th:nth-child(4), td:nth-child(4) {
    width: 15%;
}

th, td {
    border-bottom: 1px, solid #dddddd;
    padding: 10px 20px;
    word-break: break-all;  
    text-align: center;
}

tr:hover td{
    color: #567ebb;
    cursor: pointer;
    background-color: #dce0e6;
}

::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.icone {
    max-width: 100%;
    height: auto;
    width: auto;
}

.container-2 {
    background-color: #f5f5f5;
    width: 100vw;
    height: 200px;
}

/* Janela Modal */
.modal-fade {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center; 
}

.modal {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    position: relative;
}

.header-modal {
    color: #000;
    background: none;
    font-size: 1.6rem;
    padding: 0px;
    margin-top: 15px;
    margin-bottom: 30px;
}

.header-modal button {
    position: absolute;
    top: 15px;
    right: 10px;
    cursor: pointer;
    font-size: 2.8rem;
    color: #ff0000ff;
    background: none;
    border: none;
}

.search-box {
    width: 100%;
    max-width: 700px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 0px 10px;
    backdrop-filter: blur(4px) saturate(180%);
}

.search-box input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 12px 10px;
    font-size: 1.2rem;
    color: #fefefe;
}

.search-box input::placeholder{
    color: #fefefe;
}
 
.search-box button img {
    width: 11px;
}

.search-box button {
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #16325e;
    cursor: pointer;
}

.container-principal {
    display: flex;
}
/* janela modal add-membro */
.modal-add-membro form {
    margin-top: 20px;
}

.modal-add-membro form label {
    display: block;
    color: #000;
    margin-bottom: 5px;
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: bold;
}

.modal-add-membro form input, .modal-add-membro form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #000;
}

.modal-add-membro form input:focus, .modal-add-membro form select:focus {
    outline: none;
    border-bottom: 3px solid #567ebb;
}

.modal-add-membro form input[type="submit"] {
    background-color: #2b4c7e;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
}

.modal-add-membro form input[type="submit"]:hover {
    background-color: #4167a0;
    cursor: pointer;
}

/* Janela modal opcoes */
.btns-opcoes {
    border: none;
    box-shadow: none;
    background: none;
    width: 30px;
    height: auto;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.btn-op-2 {
    margin-left: 20px;
}

.btns-opcoes:hover {
    width: 35px;
    height: auto;
}
/* modal editar membro */
.modal-edit-membro form {
    margin-top: 20px;
}

.modal-edit-membro form label {
    display: block;
    color: #000;
    margin-bottom: 5px;
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: left;
}

.modal-edit-membro form input, .modal-edit-membro form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #000;
}

.modal-edit-membro form input:focus, .modal-edit-membro form select:focus {
    outline: none;
    border-bottom: 3px solid #567ebb;
}

.modal-edit-membro form input[type="submit"] {
    background-color: #2b4c7e;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
}

.modal-edit-membro form input[type="submit"]:hover {
    background-color: #4167a0;
    cursor: pointer;
}

.input-radio-edit {
    display: flex;
    justify-content: space-evenly;
}

/* modal deletar membro */
.header-modal-remover {
    justify-content: center;
}

.container-1-modal-remover {
    margin-bottom: 25px;
    color: #000;
    font-size: 1.2rem;
    text-align: center;
}

.container-2-modal-remover {
    display: flex;
    justify-content: space-evenly;
}

.container-2-modal-remover .btn-1 {
    background-color: #a50d0d;
}

.container-2-modal-remover .btn-2 {
    background-color: #2b4c7e;
}

.container-2-modal-remover .btn-1:hover {
    background-color: #830707;
}

.container-2-modal-remover .btn-2:hover {
    background-color: #16325e;
}

/* Modal altorização */
.container-2-modal-remover .btn-2-auth {
    background-color: #2b4c7e;
    width: 70px;
}

.container-2-modal-remover .btn-2-auth:hover {
    background-color: #16325e;
}

.checkbox-container label input{
    width: auto;
    cursor: pointer;
}

.btn-search {
    display: none;
}

@media only screen and (min-width: 768px) and (max-width: 1023px)
{
    body {
        overflow-x: hidden;
    }

    
}

@media only screen and (max-width: 767px)
{
    body {
        overflow-x: hidden;
    }

    .search-box {
        display: none;
    }

    .btn-search {
        display: block;
        padding: 5px 12px;
        margin-left: 15px;
        border-radius: 25px;
        color: #fefefe;
        background: #567ebb;
        cursor: pointer;
        transition: all 400ms ease;
        border: none;
        outline: none;
    }

    .modal {
        max-width: 360px;
    }

    .header-modal h2 {
        font-size: 2rem;
        text-align: center;
    }

    th:nth-child(3), td:nth-child(3) {
        display: none;
    }

    th:nth-child(4), td:nth-child(4) {
        width: 30%;
    }

    th:nth-child(1), td:nth-child(1) {
        width: 50%;
    }

    th:nth-child(2), td:nth-child(2) {
        width: 24%;
    }

    table {
        min-width: 500px;
    }
}